.container {}

.content {
    display: flex;

    .task-cards {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 80px;
        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 40px;
            text-align: center;
            width: 205px;
            height: 279px;
            background-color: #D9D9D9;
            border-radius: 11px 11px 0 0;
            position: relative;

            .additional {
                display: flex;
                flex-direction: column;


                a {
                    display: flex;
                    background-color: red;
                    border-radius: 100%;
                    width: 42px;
                    height: 42px;
                    justify-content: center;
                    align-items: center;
                }



                img {
                    width: 21px;
                    height: 21px;
                }
            }

            #details {
                position: absolute;
                left: -30px;
                top: -40px;
            }

            #user {
                position: absolute;
                left: 95%;
                top: 90%;
            }

        }
    }
}